body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil {
    width: 400px;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px blue;
    text-align: center;
    border: 2px solid blue;
}

h1 {
    color: blue;
}

ul {
    list-style-type: none;
    padding: 0; 
}

li {
    margin: 5px 0;
}

.voltar-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.voltar-button:hover {
    background-color: darkblue;
}
